.row {
  width: 85%;
  margin: 20px auto;
  text-align: center;
}

h1{
  margin-bottom: 30px;
}

img {
  height: 200px;
}
#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

h3, p{
  margin-bottom: 20px;
}

.bg_lightgrey{
  background-color: #f9f9f9;
}
